# --- 重要な秘密の鍵 ---
.env

# --- Pythonのシステムファイル (アップロード不要) ---
.conda/
conda-meta/
DLLs/
Lib/
Library/
libs/
Scripts/
share/
Tools/
etc/
include/
__pycache__/
*.pyc

# --- VS Codeの設定 ---
.vscode/

# --- Terraform (絶対に公開してはいけないファイル) ---
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# --- Node.js and IDEs ---
node_modules/
.idea/
*.iml


# --- Build Artifacts ---
build/
dist/
*.egg-info/
